{% extends "layout.html" %}

{% block title %}
Guru aur Chai
{% endblock %}

{% block content %}
      <h1 class="text-center mt-4">Welcome to Teaman hub store</h1>
{% endblock %}

























{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <style>
        body{
            background: #000;
            color: #fff
        }
    </style>
</head>
<body>
    <h1>Hello Chaiman</h1>
</body>
</html> {% endcomment %}